rutetider=1.0.1
APScheduler==3.2.0
beautifulsoup4==4.5.1
Flask==0.11.1
future==0.15.2
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.7.1
py-postgresql==1.1.0
pyTelegramBotAPI==2.3.1
pytz==2016.7
requests==2.13.0
six==1.10.0
tzlocal==1.2.2
urllib3==1.18
virtualenv==15.0.3
waitress==1.0.1
Werkzeug==0.11.11